body {
    border: 2px solid black;
    height: 100vh; /* Use 100vh to ensure the body takes up the full viewport height */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B1AFFF;
   
}

div.container{

   
   height: 300px;
   width: 300px;
   display: block;
/*   display: flex;*/
   display: grid;
   grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    box-sizing: border-box;

}

.box {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: #BBE9FF;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex; /* Ensures flexbox layout */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    font-size: 24px; /* Optional: Adjusts the font size */
   
    font-family: Bradley Hand, cursive;
    transition: all;
}

.reset-button{

margin-left: 115px;
margin-top: 150px;


}


